// .animated-text {
//     display: flex;
//     flex-direction: row;
//     // display: inline-block;
//     // // word-break: break-word;
//     // white-space: normal;
//     font-size: 1.2rem;
//     // overflow: hidden;
//     // margin: 0 auto;
//     padding: 10px 10px;
//     padding-left: 50px;
//     // top: 170px; 
//     // left: 0; 
//     // height: auto; 
//     color: rgba(255, 255, 255, 0.70);
//     background-color: #123E59;
//     border-top-right-radius: 8px; 
//     border-bottom-right-radius: 8px; 
//     text-align: center; 
//     z-index: 10; 

//   }
  
//   .text-slide-container{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     // justify-content: center;
//     position: relative;
//   }
  

  .accordion {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 85px;
  }

  @media (min-width: 768px) {
    .accordion{
      max-width: 900px;
      margin-left: 80px;
      margin-right: 120px
    }
  }


  @media (min-width: 1024px) {
    .accordion{
      max-width: 900px;
      margin-left: 17rem;
      margin-right: 20rem
    }
  }
  
  .title {
    text-align: center;
    align-content: center;
    height: 50px;
    width: 100%;
    background-color: rgba(15, 53, 77, .8); 
    color: #B6C5F2; 
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: lighter;
    position: relative;
    padding: 10px;
    z-index: 2;
    border-radius: 4px;
    transition: all .2s ease-in;
  }
  
  .title-text {
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .title {
   font-size: 1.4rem;
    }
  }


  @media (min-width: 1024px) {
    .title {
      font-size: 1.6rem;
    }
  }
  
  .title:hover {
    cursor: pointer;
    background-color: rgba(15, 53, 77, 1);
  }
  
  .title:active {
    background-color: rgba(15, 53, 77, .9); 
  }
  
  .content {
    max-height: 0;
    overflow: hidden; 
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    transition: max-height 0.5s ease-out; 
  }
  
  .content-open {
    max-height: 500px; 
    padding: 20px;
    background-color: #EBEBF2; 
    transition: max-height 0.5s ease-in;
  }


  
  .content-text {
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in;
  }
  
  .content-text-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-in; 
  }

  @media (min-width: 768px) {
    .content-text-open {
   font-size: 1.4rem;
    }
  }


  @media (min-width: 1024px) {
    .content-text-open {
      font-size: 1.6rem;
    }
  }
  
  
  .fa-angle-down {
    font-size: 20px;
    color: rgba(255,255,255, .5);
    transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
  }
  
  .fa-rotate-180 {
    color: rgba(255,255,255, 1);
  }
  
  .arrow-wrapper {
    position: absolute;
    right: 50px;
  }
  
 