// .animated-text {
//     display: flex;
//     flex-direction: row;
//     // display: inline-block;
//     // // word-break: break-word;
//     // white-space: normal;
//     font-size: 1.2rem;
//     // overflow: hidden;
//     // margin: 0 auto;
//     padding: 10px 10px;
//     padding-left: 50px;
//     // top: 170px; 
//     // left: 0; 
//     // height: auto; 
//     color: rgba(255, 255, 255, 0.70);
//     background-color: #123E59;
//     border-top-right-radius: 8px; 
//     border-bottom-right-radius: 8px; 
//     text-align: center; 
//     z-index: 10; 

//   }
  
//   .text-slide-container{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     // justify-content: center;
//     position: relative;
//   }
  

  .accordion {
    display: flex;
    flex-wrap: wrap;
    // padding-left: 90px;
    // padding-right: 40px;
    // padding-bottom: 40px;
    // -webkit-box-shadow: 0px 13px 23px -13px rgba(0,0,0,0.5);
    // width: 100%;
    max-width: 600px;
    background-color: transparent;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 85px;
  }
  
  .title {
    text-align: center;
    align-content: center;
    height: 50px;
    width: 100%;
    background-color: rgba(15, 53, 77, .8); /* استفاده از رنگ پالت */
    color: #B6C5F2; /* استفاده از رنگ پالت */
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: lighter;
    position: relative;
    padding: 10px;
    z-index: 2;
    border-radius: 4px;
    transition: all .2s ease-in;
  }
  
  .title-text {
    margin-left: auto;
  }
  
  .title:hover {
    cursor: pointer;
    background-color: rgba(15, 53, 77, 1); /* تغییر رنگ هنگام هاور */
  }
  
  .title:active {
    background-color: rgba(15, 53, 77, .9); /* تغییر رنگ هنگام کلیک */
  }
  
  .content {
    max-height: 0;
    overflow: hidden; /* جلوگیری از نمایش محتوای پنهان */
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    transition: max-height 0.5s ease-out; /* انیمیشن باز و بسته شدن */
  }
  
  .content-open {
    max-height: 500px; /* مقدار مناسب برای محتوای شما */
    padding: 20px;
    background-color: #EBEBF2; /* رنگ پس‌زمینه بخش محتوا */
    transition: max-height 0.5s ease-in;
  }
  
  .content-text {
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s ease-in; /* انیمیشن محتوای متن */
  }
  
  .content-text-open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.8s ease-in; /* محتوای متن وقتی باز است */
  }
  
  .fa-angle-down {
    font-size: 20px;
    color: rgba(255,255,255, .5);
    transition: all .6s cubic-bezier(0.080, 1.090, 0.320, 1.275);
  }
  
  .fa-rotate-180 {
    color: rgba(255,255,255, 1);
  }
  
  .arrow-wrapper {
    position: absolute;
    right: 50px;
  }
  
 