.animated-text {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 19px;
    padding: 10px 10px;
    padding-left: 50px;
    color: rgba(255, 255, 255, 0.70);
    background-color: #123E59;
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    text-align: center; 
    z-index: 10; 

    @media (min-width: 768px) and (max-width: 1024px) {
     font-size: 25.6px;
    }
    
    @media (min-width: 1024px) {
     font-size: 30.4px;
    }
    
  }
  
  .text-slide-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  


.animation {
  height: 50px;
  overflow: hidden;
}

.animation > div > div {
  padding: 0.95rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;

  @media (min-width: 768px) {
    padding: 0.8rem 0.75rem;
}

  @media (min-width: 1024px) {
    padding: 0.7rem 0.75rem;
}

}

.animation div:first-child {
  animation: text-animation 8s infinite;
}



@keyframes text-animation {
  0% {margin-top: 0;}
  25% {margin-top: 0;} 
  50% {margin-top: -5.62rem;}
  75% {margin-top: -5.62rem;}
  100% {margin-top: 0;} 
}


