// .animated-text-wrapper {
//     display: flex;
//     padding: 20px;
//     justify-content: center;
//     align-items: center;
//   }
  
  .animated-text {
    word-break: break-word;
    white-space: normal;
    font-size: 1.2rem;
    overflow: hidden;
    margin: 0 auto;
    padding: 10px 10px;
    padding-left: 50px;
    top: 170px; 
    left: 0; 
    // max-width: 50%;
    // width: 100%;
    height: auto; 
    color: rgba(255, 255, 255, 0.70);
    background-color: #123E59;
    border-top-right-radius: 8px; 
    border-bottom-right-radius: 8px; 
    // position: absolute;
    text-align: center; 
    // position: relative; /* یا absolute */
    z-index: 10; 
    transition: all 0.3s ease-in-out;
    // animation: animated-text 4s steps(29, end) 1s 1 normal both,
    //            animated-cursor 600ms steps(29, end) infinite;

  }
  
  .text-slide-container{
    display: flex;
  }
  
  /* انیمیشن متن */
  @keyframes animated-text {
    from { width: 0; }
    to { width: 472px; } /* طول نهایی متن */
  }
  
  /* انیمیشن مکان‌نما */
  @keyframes animated-cursor {
    from { border-right-color: rgba(0, 255, 0, 0.75); }
    to { border-right-color: transparent; }
  }
  
  /* کلاس برای نمایش متن نهایی */
//   .animated-text.show {
//     width: auto;
//     border-right: none; /* حذف مکان‌نما */
//     animation: animated-text 4s steps(29, end) forwards, animated-cursor 600ms steps(29, end) infinite; /* انیمیشن روی متن نهایی */
//   }
  