
  
footer {
  margin-bottom: 30px;
  // flex-grow: 0;
  width: 100%;
  text-align: center;
  // padding: 10px 0;
  position: relative;
}


@media (min-width: 1024px){
  footer {
    margin-bottom: 0;
  }
}