// footer {
//   margin-top: 60px;
//   display: flex;
//   justify-content: center;
// //   bottom: 0;
// // //  position: fixed;
// //  left: 50%;
// //  transform:translateX(-50%);

//   }
  
footer {
  margin-bottom: 30px;
  // flex-grow: 0;
  width: 100%;
  text-align: center;
  // padding: 10px 0;
  position: relative;
}