
.logo-container {
  position: fixed;
  top: 0px;
  left: 50px;
  z-index: 1001;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  transition: all 0.3s ease; 

    &:hover {
      content: url('/public/images/logo/logo-hover-on.png'); 
    }
}



.nav-menu {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.mobile-nav {
  position: fixed; 
  bottom: -6px;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}


.desktop-nav {
  justify-content: flex-end;
  top: 0;
  max-width: 900px;
  margin-right: 100px;
  margin-top: 20px;
}

.header .nav-menu .nav-link {
  display: inline-block;
  padding: 10px; 
  transition: all 0.3s ease; 
}

.header .nav-menu .nav-link:hover {
  background-color: #B6C5F2; 
  transform: scale(1.1); 
  border-radius: 10px; 
}

.header .nav-menu .nav-link img {
  display: block;
  width: 30px; 
  height: 30px;
}


@media (min-width: 1024px) {
  .desktop-nav {
    max-width: none; 
  }
}


@media (max-width: 767px) {
  .desktop-nav {
    display: none; 
  }

  .mobile-nav {
    display: flex; 
  }
}


@media (min-width: 768px) {
  .mobile-nav {
    display: none; 
  }

  .desktop-nav {
    display: flex; 
  }

  .logo{
    width: 70px;
    height: 70px;
  }

  .nav-link img{
    width: 30px;
  }
}
