.slide-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 50vh;
  max-width: 600px;
  max-height: 400px;
}

.slide {
  position: relative;
  width: 100%; /* عرض 100% از والد */
  height: 100%; /* ارتفاع 100% از والد */
  transition: opacity 0.5s ease-in-out;
}

.slide img {
  width: 100%; /* عرض کامل اسلاید */
  height: 100%; /* ارتفاع کامل اسلاید */
  object-fit: contain; /* برای جلوگیری از ناپدید شدن تصویر در عرض‌های کمتر */
  border-radius: 10px;
}

  .slide-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .slide:hover .slide-overlay {
    opacity: 1; /* نمایش متن هنگام هاور */
  }
  
  .icon-left,
  .icon-right {
    position: absolute;
    top: 50%; /* در وسط عمودی قرار می‌گیرد */
    transform: translateY(-50%); /* تنظیم دقیق مرکزیت */
    font-size: 24px; /* اندازه آیکون */
    color: white; /* رنگ آیکون */
    cursor: pointer; /* نشانگر موس به حالت pointer */
    z-index: 2; /* اطمینان از نمایش روی اسلاید */
  }
  
  .icon-left {
    left: 10px; /* موقعیت آیکون چپ */
  }
  
  .icon-right {
    right: 10px; /* موقعیت آیکون راست */
  }
  