@import 'Sidebar.scss';

.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // ارتفاع کل صفحه
    background-color: #EBEBF2; // رنگ پس‌زمینه
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    margin-left: 70px;
  }
  
  .content-area {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }
  
  .welcome-message {
    font-family: 'Comic Neue', cursive; // تنظیم فونت برای متن خوش‌آمدگویی
    font-size: 1.2em;
    color: #333;
  }
  
  
  .animated-text {
    color: #EBEBF2;
    background-color: #123E59;
    // width: 5px; /* عرض باکس */
    height: auto; /* ارتفاع به صورت خودکار */
    padding: 15px 20px; /* حاشیه داخلی */
    position: absolute; /* موقعیت‌دهی مطلق */
    top: 250px; /* فاصله از انتهای صفحه */
    left: 0; /* چسبیدن به سمت چپ */
    margin: 0; /* حذف حاشیه‌ها */
    padding-left: 80px;
    border-top-right-radius: 8px; /* گرد کردن لبه بالای سمت راست */
    border-bottom-right-radius: 8px; /* گرد کردن لبه پایین سمت راست */
    text-align: center; /* مرکز کردن متن */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* ایجاد سایه */
    z-index: 10; /* اطمینان از نمایش بالاتر */
  }
  
  .welcome-message{
  
      background-color: transparent; /* رنگ پس‌زمینه مخفی */
      width: 350px; /* عرض باکس */
      margin-top: 120px; /* فاصله از نوار "Hello" */
      text-align: left; /* چپ‌چین کردن متن */

  
  }