@use 'Sidebar.scss';
@use 'BrushTransition.scss';


.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

.main-content{
  flex-grow: 1;
}


.content-area-home{
  padding-top: 35px;
}



// wellcom message

  .welcome-message-wrapper{
    height: 30vh;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 70px;

  }

  .welcome-message {
    font-size: 1.2em;
    text-align: left;
    white-space: pre-wrap;
    border-right: 2px solid rgba(255, 255, 255, 0.75); 
    animation: blinkingCursor 500ms steps(50) infinite normal;
  }
  
  @keyframes blinkingCursor {
    from { border-right-color: rgba(255, 255, 255, 0.75); }
    to { border-right-color: transparent; }
  }



  // Buttons

  // .buttons-wrapper{
  //   position: fixed;
  //   font-size: 50px;
  //   display: flex;
  //   flex-direction: column;
  //   margin-top: 50px;
  // }
  
 
  
  @keyframes pressDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px); 
    }
  }
  
  

  @media (min-width: 768px) and (max-width: 1024px) {

    .welcome-message-wrapper{
    max-width: 900px;
    margin-left: 200px;
    margin-top: 70px;
    font-size: 1.8rem;
 }

  }

  @media (min-width: 1024px){

    

  }



  .circle-pointer {
    position: absolute;
    width: 50px; 
    height: 50px; 
    border: 2px solid rgb(253, 160, 160);
    border-radius: 50%; /* برای گرد شدن */
    pointer-events: none; /* جلوگیری از کلیک روی دایره */
    box-sizing: border-box;
    z-index: 1100;
  }