@import 'Sidebar.scss';
@import 'BrushTransition.scss';


.home-page {
  max-width: 100vh;

}

.main-content{
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: space-between; /* تنظیم فاصله و توزیع عناصر */
  // align-items: flex-start; 
}

// .text-slide-container{
//   display: flex;
//   flex-direction: column; /* قرار دادن عناصر در یک ردیف */
//   gap: 20px;

// }

.content-area {
  margin-top: 166px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  // justify-content: space-between; /* تنظیم فاصله و توزیع عناصر */
  // align-items: flex-start; 
}

  .welcome-message-wrapper{
    margin-left: 100px;
    margin-right: 70px;
    // margin-top: 355px;
    // position: absolute;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
  .welcome-message {
    font-size: 1.2em;
    margin-top: 15px; /* فاصله از نوار "Hello" */
    text-align: left; /* چپ‌چین کردن متن */

    //
    display: inline-block;
  }

  .buttons-wrapper{
    font-size: 50px;
    display: flex;
    flex-direction: column;
    // bottom: 150px;
    // margin-top: 20px; /* فاصله مناسب از ولکام مسیج */
    // position: relative;
    // margin-top: 5vh;
    // left: 50%;
    margin-top: 50px;
    transform: translate(25%);
  }
  
  

  @media (min-width: 768px) and (max-width: 1024px) {

  }

  @media (min-width: 1024px){

    

  }

