@use 'Sidebar.scss';
@use 'BrushTransition.scss';


.home-page {
  max-width: 100vh;

}

.main-content{
}



.content-area {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}





  .buttons-wrapper {
    align-items: center;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    left: 0;
    right: 0;
  }

  .key-animation {
    font-size: 1em; 
    display: inline-block;
    letter-spacing: 1.5px;
    transition: transform 0.2s;
    animation: pressDown 2s infinite; 
  }

  .key-animation:hover {
    font-style: italic;
    transition: font-style 0.3s ease;
}



  // .key-animation {
  //   font-size: 1em; 
  //   display: inline-block;
  //   letter-spacing: -0.05em;
  //   transition: transform 0.2s;
  //   animation: pressDown 2s infinite; 
  // }
  
  @keyframes pressDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
  }
  
  

  @media (min-width: 768px) and (max-width: 1024px) {

.buttons-wrapper{
  font-size: 3.9rem;
  margin-top: 70px;
}
.key-animation{
  margin-top: 10px;
}


  }

  @media (min-width: 1024px){

    

  }



  .circle-pointer {
    position: absolute;
    width: 50px; /* عرض دایره */
    height: 50px; /* ارتفاع دایره */
    border: 2px solid rgb(253, 160, 160); /* خط سفید دور دایره */
    border-radius: 50%; /* برای گرد شدن */
    pointer-events: none; /* جلوگیری از کلیک روی دایره */
    box-sizing: border-box;
    z-index: 1100;
  }