.sidebar {
  display: flex;
  align-items: center;
  // padding: 0;
  // margin: 0;
  // background: #fff;
  // height: 100vh; /* تغییر به 100vh برای پوشش کل ارتفاع صفحه */
  width: 50px;
  position: fixed; 
  top: 0;         
  left: 0;         
  z-index: 2;      
}


  .sidebar ul {
    list-style-type: none; 
    padding-top: 150px;
    padding-left: 10px;
    display: flex;                
    flex-direction: column;      
    justify-content: space-between; 
    height: 150px;  
  }


  @media (max-width: 768px){
  .sidebar{
    height: 100vh;
  }
  }

  @media (min-width: 768px) and (max-width: 1024px) {

    .sidebar {
      height: 100vh;      
    }

    .sidebar img{
      size: 30px;
    }

  }

  @media (min-width: 1024px){

    .sidebar {
      height: 100vh;      
    }

  }